<h1>New Player</h1>

<%= form_with model: @player do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @player.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
    <% @player.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
