<h1>New Quest</h1>

<%= form_with model: @quest do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @quest.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :item_id %><br>
    <%= form.collection_select :item_id, Item.all, :id, :name %>
    <% @quest.errors.full_messages_for(:item_id).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>
  <%= link_to "Créer un item", new_item_path %>


  <div>
    <%= form.label :xp %><br>
    <%= form.number_field :xp %>
    <% @quest.errors.full_messages_for(:xp).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <%= form.hidden_field :master_id, value: session[:master_id] %>

  <div>
    <%= form.submit %>
  </div>
<% end %>