<div class="container fomulaire-connexion-container">
  <div class="row justify-content-center">
    <div class="col-5 fomulaire-inscription">
      <h1>New Quest</h1>

      <%= form_with model: @quest do |form| %>
        <div>
         <b> <%= form.label :title %></b><br>
          <%= form.text_field :title %>
          <% @quest.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>

        <div class="mt-3">
        <b><%= form.label :item_id %></b><br>
          <%= form.collection_select :item_id, Item.all, :id, :name %>
          <% @quest.errors.full_messages_for(:item_id).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <%= link_to "Créer un item", new_item_path, class: 'text-center mt-3 btn button-connexion' %>


        <div class='mt-3'>
          <b><%= form.label :xp %></b><br>
          <%= form.number_field :xp, min:0 %>
          <% @quest.errors.full_messages_for(:xp).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>

        <div class='mt-3'>
          <b><%= form.label :po %></b><br>
          <%= form.number_field :po, min:0 %>
          <% @quest.errors.full_messages_for(:po).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>

        <div>
          <b><%= form.label :level %></b><br>
          <%= form.number_field :level, min:0 %>
          <% @quest.errors.full_messages_for(:level).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>

        <%= form.hidden_field :master_id, value: session[:master_id] %>

        <div>
          <%= form.submit class: 'btn btn-primary button-connexion mt-3' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
