<div class="container show-players-container">
    <div class="row justify-content-center">
        <div class="col-7 show-players-content">
            <h1>Bonjour <%= @master.username %></h1>
                <%= link_to "Créer une quête", new_quest_path, class: 'text-center mt-3 btn button-connexion' %>
                <div>
                    <a class="btn btn-primary button-connexion mt-3"  href="/monsters">
                        <%= "Créer un monstre" %>
                     </a>
                     <a class="btn btn-primary button-connexion mt-3"  href="/enigmes">
                        <%= "Créer une enigme" %>
                    </a>
                    <a class="btn btn-primary button-connexion mt-3"  href="<%= new_item_path %>">
                        <%= "Créer un item" %>
                    </a>
                </div>
                <div class="row justify-content-center">
                <h2 class="mt-4 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Quests and Steps <i class="arrow down"></i></h2>
                <% if @quest.any? %>
                <div class="dropdown-menu dropdown-characters dropdown-show-master" aria-labelledby="dropdownMenuButton">
                <% @quest.each do |quest| %>
                    <div> 
                    <%= link_to quest.title, new_step_path(quest_id: quest.id)  %>
                    <a href="/delete_quest?quest_id=<%= quest.id %>">Supprimer</a>
                    </div>
                    <% quest.steps.each do |step| %>    
                        <a class="dropdown-item"> <%= link_to step.titre, edit_step_path(step) %></a>
           
                   
                        <% end %> 
                        </br>
                    <% end %>
                    </div>
                </div>
                <% else %>
                    <p>Vous avez pas de quete</p>
                <% end %>
                
                <%if @quest_in_progress%>
                <h3>Some adventurers are currently trying to succeed your quests !!</h3>
                <% @quest_in_progress.each do |quest| %>
                <p>The hero <%= quest.character.name %> started <%= quest.title %> and is at this step : <%= quest.steps.last.titre %>.</p>
                <% end %>
                <%end%>

                <a href = "/logoutMaster" class="btn btn-light mt-5">Log out</a>
        </div>
    </div>
</div>
