<% if params[:win] == "true" %>
    <h1>Félicitation vous avez repondu avec brio ! </h1>
    <h2> Cliquez sur suivant pour continuer ! </h2>
    <a href="/start_quest?quest_id=<%= params[:quest_id]%>&step_id=<%= params[:step_id]%>"></a>  , character_path(session[:character_id]) 
  <% elsif params[:win] == "false" %>
    <h1>Game over gros nul ! </h1>
    <%= link_to "Retour a l'accueil", character_path(session[:character_id]) %>
  <% else %>
    <h1>Votre quete <%=params[:quest]%> vous mène a cette étape : <%=params[:step]%> </h1>

    <h2> Vous devez répondre à une énigme ! </h2>

    <h3> <%= @enigme.titre %>  </h3>

    <%= form_with(model: @enigme, url: responses_path(@enigme),method: :get) do |form|%>
        <%= form.hidden_field :id, value: @enigme.id %>
      <p>
        <label>
          <input type="radio" name="reponse" value="<%= @answers.reponse_1 %>">
          <%= @answers.reponse_1 %>
        </label>
      </p>
      <p>
        <label>
          <input type="radio" name="reponse" value="<%= @answers.reponse_2 %>">
          <%= @answers.reponse_2 %>
        </label>
      </p>
      <p>
        <label>
          <input type="radio" name="reponse" value="<%= @answers.reponse_3 %>">
          <%= @answers.reponse_3 %>
        </label>
      </p>
      <%= form.submit "Soumettre" %>
  <% end %>

<%= link_to "Abandonner la quete", character_path(session[:character_id]) %>
<% end %>
