<div class="container fomulaire-connexion-container">

<div class="row justify-content-center">
<div class="col-5 fomulaire-connexion">

<h1>New Character</h1>

<%= form_with model: @character,html: { id: 'form' } do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @character.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

               <div class="form-group">
              <%= form.label :avatar %><br>
              <div class="custom-dropdown">
                <select class="form-control" name="character[avatar]" id="avatar-selectBis">
                  <option value="">Select an avatar</option>
                  <% Dir.glob('app/assets/images/avatar/character/*.{png,svg,jpg}').each do |path| %>
                    <% filename = File.basename(path, '.*') %>
                    <option data-image="<%= image_path("avatar/character/#{filename}#{File.extname(path)}") %>"><%= filename %></option>
                  <% end %>
                </select>
                <div class="image-preview" id="image-preview-containerBis" style="display: none;">
                <img src="" alt="Avatar Preview" id="avatar-previewBis">
              </div>
              </div>
              <% @character.errors.full_messages_for(:avatar).each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>

  <div>
    <%= form.label :force %><br>
    <%= form.number_field :force, in: 10..20, id: 'character_force',value: 10 %>
    <% @character.errors.full_messages_for(:force).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <div>
  <%= form.label :pv %><br>
  <%= form.number_field :pv, in: 10..20, id: 'character_pv',value: 10 %>
  <% @character.errors.full_messages_for(:pv).each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>


<% if @character.errors.full_messages_for(:base).any? %>
  <div>
    <% @character.errors.full_messages_for(:base).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>

  <div>
    <%= form.submit class: 'btn btn-primary button-connexion mt-3' %>
  </div>
  <p id="remaining_points">Remaining points: 10</p>
<% end %>
<button id="reset_button" class="btn btn-secondary">Reset</button>
</div>
</div>
</div>
