<div class="container fomulaire-connexion-container">

<div class="row justify-content-center">
<div class="col-5 fomulaire-connexion">

<h1>New Character</h1>

<%= form_with model: @character do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @character.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :force %><br>
    <%= form.number_field :force, in: 10..20, id: 'character_force',value: 10 %>
    <% @character.errors.full_messages_for(:force).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>

  <div>
  <%= form.label :pv %><br>
  <%= form.number_field :pv, in: 10..20, id: 'character_pv',value: 10 %>
  <% @character.errors.full_messages_for(:pv).each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>

<% if @character.errors.full_messages_for(:base).any? %>
  <div>
    <% @character.errors.full_messages_for(:base).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>

  <div>
    <%= form.submit class: 'btn btn-primary button-connexion mt-3' %>
  </div>
  <p id="remaining_points">Remaining points: 10</p>
<% end %>
<button id="reset_button" class="btn btn-secondary">Reset</button>
</div>
</div>
</div>
