<div class="container fomulaire-connexion-container">
  <div class="row justify-content-center">
    <div class="col-5 fomulaire-inscription">
      <h1>New Item</h1>
        <%= form_with model: @item do |form| %>

        <%= hidden_field_tag :source, @source %>

          <div>
            <b><%= form.label :name %></b><br>
            <%= form.text_field :name %>
            <% @item.errors.full_messages_for(:name).each do |message| %>
              <div><%= message %></div>
              <% end %>
          </div>

          <div class="row justify-content-around">
          <div>
            <b><%= form.label :category %></b><br>
            <%= form.collection_select :category, ["Arme", "Bouclier", "Casque"], :to_s, :humanize, id: "category-select" %>
            <% @item.errors.full_messages_for(:category).each do |message| %>
              <div><%= message %></div>
              <% end %>
          </div>
          <div id="image-container">
              <%= image_tag "avatar/epee.png", alt: "Avatar", id: "item-image" %>
            </div>
          </div>

          <div>
            <b><%= form.label :xp %></b><br>
            <%= form.number_field :xp, in: -100..100 %>
            <% @item.errors.full_messages_for(:xp).each do |message| %>
              <div><%= message %></div>
              <% end %>
          </div>

          <div>
            <b><%= form.label :force %></b><br>
            <%= form.number_field :force %>
            <% @item.errors.full_messages_for(:force).each do |message| %>
              <div><%= message %></div>
              <% end %>
          </div>

          <div>
            <b><%= form.label :pv %></b><br>
            <%= form.number_field :pv %>
            <% @item.errors.full_messages_for(:pv).each do |message| %>
              <div><%= message %></div>
              <% end %>
          </div>

          <div>
            <%= form.submit class: 'btn btn-primary button-connexion mt-3'%>
          </div>
        <% end %>

     </div>
  </div>
</div>

<script>
    $(document).on('change', '#item_category', function() {
     var originalCategory = $(this).val();
     var updatedCategory = originalCategory;
      if (originalCategory === "Arme") updatedCategory = "epee";
      if (originalCategory === "Casque") updatedCategory = "capuche";
      var imageUrl = "/assets/avatar/" + updatedCategory.toLowerCase() + ".png";
    $("#item-image").attr("src", imageUrl);

    updateImage();

    $("#category-select").on("change", updateImage);
  });
</script>